<h1 style="text-align: center">Bienvenido a {{ title }} {{ name }}</h1>
<div>
  <p>Nombre del empleado: {{ name }}</p>
  <p>Edad: {{ edad }}</p>
  <p *ngIf="edad >= 18">Es mayor de edad</p>
  <table border="1">
    <tr>
      <td>Sueldos</td>
    </tr>
    <tr *ngFor="let sueldo of sueldos">
      <td>{{ sueldo }}</td>
    </tr>
  </table>
  <p>
    Los últimos 3 sueldos son: {{ sueldos[0] }}, {{ sueldos[1] }},
    {{ sueldos[2] }}
  </p>
  <p>En los últimos 3 meses ha ganado: {{ ultimos3sueldos() }}</p>
  <p>{{ esActivo() }}</p>
</div>

<div>
  <p>{{ contador }}</p>
  <button (click)="incrementar()">Suma 1</button>
  <button (click)="decrementar()">Resta 1</button>
</div>

<div>
  <p>Ingresa nombre: <input type="text" [(ngModel)]="nombre" /></p>
  <p>Ingresa apellido: <input type="text" [(ngModel)]="apellido" /></p>
  <p>Nombre completo: {{ nombre }}, {{ apellido }}</p>
</div>

<div style="text-align: center">
  <h3>Interpolation</h3>
  <app-dado valor="{{ valor1 }}"></app-dado>
  <app-dado valor="{{ valor2 }}"></app-dado>
  <app-dado valor="{{ valor3 }}"></app-dado>
  <h3>Property binding</h3>
  <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>

  <hr />
  <button (click)="tirar()">Tirar</button>
  <hr />
  <p>Resultado: {{ resultado }}</p>
</div>
<router-outlet></router-outlet>
